<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../configuration-constants.html">


<dom-module id="donation-button">
    <template>
        <style is="custom-style">
            #content{
                display: inline;
                padding: 0;
            }

            #cat-dialog {
                width: 250px;
            }
            #dialog {
                width: 30%;
            }
            p {
                white-space: pre-wrap;
                font-family: 'Open Sans', sans-serif;
            }

            paper-dialog {
                width: 100px;
            }

            paper-slider {
                --paper-slider-knob-color: var(--paper-green-500);
                --paper-slider-active-color: var(--paper-green-500);
                --paper-slider-pin-color: var(--paper-green-500);
            }
        </style>

        <!--<paper-button on-click="onSupportClick">Support</paper-button>-->
        <div id="content" on-click="onSupportClick">
            <content></content>
        </div>

        <paper-dialog id="dialog" modal>
            <h2>Support project</h2>
            <div>
                <div id$="slider-label-{{projectId}}">0</div><br>
                <paper-slider id$="dotation-slider-{{projectId}}" pin min="0" max="{{ovc}}" value="0" immediateValue="{{donated-money}}"></paper-slider>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="donate-button">Donate</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="cat-dialog" modal>
            <h2>Support project</h2>
            <p>Are you sure?</p>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>No</paper-button>
                <paper-button dialog-confirm id="confirm-button">Yes</paper-button>
            </div>
        </paper-dialog>

        <!--url="https://kickstarter-dev.appspot.com/transaction"-->
        <configuration-constants name="transaction" value="{{transactionUrl}}"></configuration-constants>
        <configuration-constants name="user" value="{{userUrl}}"></configuration-constants>
        <configuration-constants name="project" value="{{projectUrl}}"></configuration-constants>
        <iron-ajax
                id="transactionAjax"
                url="{{transactionUrl}}"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>

        <iron-ajax
                id="userAjax"
                url="{{userUrl}}"
                handle-as="json"
                on-response="updateMoney"
                last-response="{{user}}">
        </iron-ajax>

        <iron-ajax
                id="projectDetailsAjax"
                url="{{projectUrl}}"
                handle-as="json"
                on-response="handleResponse"
                last-response="{{project}}">
        </iron-ajax>

    </template>
</dom-module>

<script>
    Polymer({
        is: 'donation-button',
        properties: {
            userId: {
                type: String,
                value: '0'
            },
            projectId: {
                type: Number,
                value: 0
            },
            ovc: {
                type: Number,
                notify: true
            }
        },
        ready: function() {
            var slider = this.$$('#dotation-slider-'+this.projectId);
            var label = this.$$('#slider-label-'+this.projectId);
            slider.addEventListener('value-change', function(e) {
                label.textContent = slider.value;
            });
        },
        listeners: {
            'donate-button.tap': 'requestConfirmation',
            'confirm-button.tap': 'donate'
        },
        donate: function(e) {
            var donation = this.$$('#dotation-slider-'+this.projectId).value;
            this.$.transactionAjax.params = {
                "projectId": this.projectId,
                "userId": this.userId,
                "money": donation
            };
            this.$.transactionAjax.generateRequest();
            this.async(function() {
                this.$.userAjax.generateRequest();
//                this.$.projectDetailsAjax.generateRequest();
            }, 1000);
        },
        onSupportClick: function(e) {
            this.querySelector('#dialog').toggle();
        },
        requestConfirmation: function(e) {
            this.querySelector('#cat-dialog').toggle();
        },
        updateMoney: function(request) {
            console.log(this.user.money + " pieniazki usera. " + this.ovc);
            this.set('ovc', this.user.money);
        }
    });
</script>