<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-styles.html">
<link rel="import" href="../configuration-constants.html">


<dom-module id="project-form">
    <template>
        <style is="custom-style">
            #dialog {
                width: 70%;
            }

            paper-spinner-lite {
                margin-top: 20px;
                --paper-spinner-color: var(--google-green-500);
            }

            #attachments {
                padding-top: 20px;
            }

            #attachments img {
                height: 100px;
            }

            paper-badge {
                --paper-badge-width: 25px;
                --paper-badge-height: 25px;
                --paper-badge-margin-left: -5px;
                --paper-badge-margin-bottom: -5px;
                --paper-badge-background: #d3d3d3;
                --paper-badge-text-color: black;
                cursor: pointer;
            }
        </style>

        <configuration-constants name="project" value="{{url}}"></configuration-constants>
        <configuration-constants name="files" value="{{files}}"></configuration-constants>
        <configuration-constants name="images" value="{{img}}"></configuration-constants>
        <configuration-constants name="attachment" value="{{attachment}}"></configuration-constants>

        <iron-ajax
                id="ajax"
                url="{{url}}"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>

        <iron-ajax
                id="filesAjax"
                url="{{files}}"
                last-response="{{uploadUrl}}"
                handle-as="text">
        </iron-ajax>

        <iron-ajax
                id="uploadAjax"
                url="{{uploadUrl}}"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>

        <paper-dialog id="dialog" withBackdrop>
            <h2>Create new project</h2>
            <div>
                <paper-input label="Project name" char-counter maxlength="256" bind-value="{{name}}" value$="{{name}}"></paper-input>
                <paper-textarea label="Description" char-counter max-rows="8" bind-value="{{desc}}" value$="{{desc}}"></paper-textarea>
                <br><br>
                Add an attachment:
                <form is="iron-form" action$="{{uploadUrl}}" method="post" enctype="multipart/form-data" id="form"
                      on-iron-form-response="formResponse" on-iron-form-error="formError"
                        on-iron-form-presubmit="parseForm">
                    <input type="file" name="fileToUpload" id="fileToUpload" multiple>
                    <paper-button raised on-click="submit">Submit your files</paper-button>
                </form>
                <div id="attachments">
                    <span id="error" style="display: none">Could not load this file.</span>
                    <template is="dom-repeat" items="{{attachmentIds}}" as="image">
                        <img src$="{{attachment}}{{image}}" id$="img{{image}}"/>
                        <paper-badge icon="icons:close" for="img{{image}}" label="happy"
                                     on-click="removeAttachment" data-blobkey$="{{image}}">
                        </paper-badge>
                    </template>
                    <template is="dom-if" if="{{loading}}">
                        <paper-spinner-lite alt="Loading project details" active></paper-spinner-lite>
                    </template>
                </div>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="add-button">
                    <template is="dom-if" if="{{projectId}}">
                        Edit
                    </template>
                    <template is="dom-if" if="{{!projectId}}">
                        Add
                    </template>
                </paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'project-form',
        properties: {
            projectId: {
                type: String,
                value: ''
            },
            name: String,
            desc: String,
            userId: {
                type: String,
                value: '0'
            },
            uploadUrl: {
                type: String,
                value: ''
            },
            attachmentIds: {
                type: Array,
                value: [],
                notify: true
            },
            loading: {
                type: Boolean,
                value: false
            }
        },
        listeners: {
            'add-button.tap': 'addProject'
        },
        toggle: function () {
            this.$.filesAjax.generateRequest();
            this.$.dialog.toggle();
        },
        parseForm: function(event) {
            var formData = new FormData();

            var fileInput = this.$.fileToUpload;
            for (var i = 0, file; file = fileInput.files[i]; ++i) {
                formData.append(file.name, file);
            }

            event.target.request.body = formData;
            event.target.request.handleAs = 'text';
            event.target.request.contentType = null;
        },
        formResponse: function (request) {
            var attachmentIds = eval(request.detail.response);
            for (var i = 0; i < attachmentIds.length; i++) {
                this.push('attachmentIds', attachmentIds[i]);
            }
            this.set("loading", false);
        },
        formError: function (error) {
            this.$.error.style.display = 'block';
            this.set("loading", false);
        },
        submit() {
            this.$.form.submit();
            this.$.fileToUpload.value = "";
            this.set("loading", true);
            this.$.error.style.display = 'none';
        },
        addProject: function (e) {
            this.$.ajax.params = {
                "name": this.name,
                "desc": this.desc,
                "creatorId": this.userId,
                "files": JSON.stringify(this.attachmentIds)
            };
            if(this.projectId) {
                this.$.ajax.params.id = this.projectId;
            }
            this.$.ajax.generateRequest();

            if(!this.projectId) {
                this.set('name', '');
                this.set('desc', '');
                this.set('attachmentIds', []);
            }
        },
        removeAttachment: function(e) {
            var id = (e.target.parentNode.dataset.blobkey == undefined ? id = e.target.parentNode.parentNode.dataset.blobkey :
                    e.target.parentNode.dataset.blobkey);
            var array = this.get('attachmentIds');
            this.splice('attachmentIds', array.indexOf(id), 1);
            this.$.dialog.toggle();
            this.$.dialog.toggle();
        },
        handleResponse: function (request) {
            document.querySelector("#list-ajax").generateRequest();
        }
    });
</script>