<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/iron-page-url/iron-page-url.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/carbon-route/carbon-location.html">
<link rel="import" href="../../bower_components/carbon-route/carbon-route.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../configuration-constants.html">
<link rel="import" href="../../routing/page-routing.html">


<dom-module id="user-bar">
    <template>
        <style>
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f6fcf6;
                padding: 0 20px;
            }
            #dialog {
                width: 70%;
            }
            #user-info span{
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 25px;
            }
            #coins-frame {
                border: 1px solid #afafaf;
                border-radius: 20px;
                padding-right: 5px;
                font-weight: bolder;
                display: inline-flex;
                align-items: center;
            }
            #coins-frame img {
                margin: 0 5px 0
            }
            #logo {
                display: inline;
            }
            #logo img {
                height: 40px;
                margin: 10px 0;
            }
            #bread {
                display: inline;
                color: black;
            }
            .page-box {
                position: relative;
                display: inline;
                border-radius: 20px;
                padding: 0 15px;
                border: 1px #9fa581 solid;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 20px;
                background-color: #dff0d8;
                color: #3d773e;
            }

            .left-box {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                font-weight: lighter;
                background-color: transparent;
                color: black;
            }

            .right-box {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
        </style>

        <configuration-constants name="project" value="{{url}}"></configuration-constants>
        <configuration-constants name="images" value="{{img}}"></configuration-constants>

        <iron-ajax
                id="ajax"
                url="{{url}}"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>

        <page-routing page="{{page}}" item="{{item}}"></page-routing>

        <div class="header">
            <div>
                <paper-menu-button vertical-align="down">
                    <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
                    <paper-menu class="dropdown-content">
                        <paper-item id="form-button">New Project</paper-item>
                        <paper-item id="logout">Logout</paper-item>
                        <paper-item hidden$="{{!admin}}" id="admin-panel">Admin Panel</paper-item>
                    </paper-menu>
                </paper-menu-button>
                <div id="logo">
                    <img src$="{{img}}kicklogo.png"
                         onmouseover$="this.src = '{{img}}kicklogohover.png'"
                         onmouseout$="this.src = '{{img}}kicklogo.png'"/>
                </div>
            </div>
            <div id="bread">
                <template is="dom-if" if="{{!decodeName(item.id)}}">
                    <div class="page-box"><paper-ripple recenters></paper-ripple>{{page.name}}</div>
                </template>
                <template is="dom-if" if="{{decodeName(item.id)}}">
                    <div class="page-box left-box"><paper-ripple recenters></paper-ripple>{{page.name}}</div>
                    <div class="page-box right-box"><paper-ripple recenters></paper-ripple>{{decodeName(item.id)}}</div>
                </template>
            </div>
            <div id="user-info">
                <span>{{login}} <div id="coins-frame"><img src$="{{img}}ovc.png" height="22px"/> {{ovc}}</div></span>
            </div>
        </div>
        <paper-dialog id="dialog" modal>
            <h2>Create new project</h2>
            <div>
                <paper-input label="Project name" char-counter maxlength="256" bind-value="{{name}}"></paper-input>
                <paper-textarea label="Description" char-counter max-rows="8" bind-value="{{desc}}"></paper-textarea>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="add-button">Add</paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'user-bar',
        properties: {
            name: String,
            desc: String,
            login: String,
            userId: {
                type: String,
                value: '0'
            },
            ovc: {
                type: Number,
                value: 0,
                notify: true
            },
            admin: Number,
            route: {
                type: Object,
                notify: true
            }
        },
        listeners: {
            'form-button.tap': 'showForm',
            'add-button.tap': 'addProject',
            'logo.tap': 'goHome',
            'logout.tap': 'logout',
            'admin-panel.tap': 'goAdmin'
        },
        showForm: function(e) {
            this.querySelector('#dialog').toggle();
        },
        addProject: function(e) {
            this.$.ajax.params = {
                "name": this.name,
                "desc": this.desc,
                "creatorId": this.userId
            };
            this.$.ajax.generateRequest();
        },
        goHome: function(e) {
            this.set('page.name', 'home');
        },
        goAdmin: function(e) {
            this.set('page.name', 'admin-panel');
        },
        logout: function(e) {
            window.location.replace("/logout");
        },
        handleResponse: function(request) {
            document.querySelector("#list-ajax").generateRequest();
        },
        decodeName: function(name) {
            return decodeURIComponent(name);
        }
    });
</script>