<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../configuration-constants.html">
<link rel="import" href="../components/project-form.html">
<link rel="import" href="../../routing/page-routing.html">


<dom-module id="user-bar">
    <template>
        <style>
            .header {
                background-color: #f6fcf6;
            }
            #user-info span{
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 25px;
            }
            #coins-frame {
                border: 1px solid #afafaf;
                border-radius: 20px;
                padding-right: 5px;
                font-weight: bolder;
                display: inline-flex;
                align-items: center;
            }
            #coins-frame img {
                margin: 0 5px 0
            }
            #logo {
                display: inline;
                cursor: pointer;
            }
            #logo img {
                height: 40px;
                margin: 10px 0;
            }
            .flex-bar {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            #menu {
                white-space: nowrap;
            }
            #bread {
                position: absolute;
                width: 100%;
                z-index: 3;
                color: black;
                display: flex;
                justify-content: center;
                align-content: space-between;
            }
            #user-info {
                white-space: nowrap;
                padding-right: 12px;
            }
            .page-box {
                position: relative;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                padding: 0 12px;
                border: 1px #9fa581 solid;
                border-top-style: dashed;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 20px;
                background-color: #dff0d8;
                color: #3d773e;
            }

            .left-box {
                border-bottom-right-radius: 0;
                margin-right: 2px;
                font-weight: lighter;
                background-color: #f6fcf6;
                color: black;
                cursor: pointer;
            }

            .right-box {
                border-bottom-left-radius: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            paper-item {
                cursor: pointer;
            }

            paper-icon-button.close-button {
                height: 30px;
                width: 30px;
                margin-bottom: 10px;
            }
        </style>

        <configuration-constants name="images" value="{{img}}"></configuration-constants>
        <page-routing page="{{page}}" item="{{item}}"></page-routing>

        <div class="header">
            <div class="flex-bar">
                <div id="menu">
                    <paper-menu-button vertical-align="down">
                        <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
                        <paper-menu class="dropdown-content">
                            <paper-item id="form-button">New Project</paper-item>
                            <paper-item id="logout">Logout</paper-item>
                            <paper-item hidden$="{{!admin}}" id="admin-panel">Admin Panel</paper-item>
                        </paper-menu>
                    </paper-menu-button>
                    <div id="logo">
                        <img src$="{{img}}kicklogo.png"
                             onmouseover$="this.src = '{{img}}kicklogohover.png'"
                             onmouseout$="this.src = '{{img}}kicklogo.png'"/>
                    </div>
                </div>
                <div>
                    <paper-input id="searchInput" label="search" no-label-float on-change="search">
                        <div prefix><iron-icon icon="icons:search"></iron-icon></div>
                        <paper-icon-button class="close-button" suffix on-click="clearInput" icon="clear" alt="clear" title="clear">
                        </paper-icon-button>
                    </paper-input>
                </div>
                <div id="user-info">
                    <span>{{login}} <div id="coins-frame"><img src$="{{img}}ovc.png" height="22px"/> {{ovc}}</div></span>
                </div>
            </div>
        </div>
        <div id="bread">
            <template is="dom-if" if="{{!decodeName(item.id)}}">
                <div class="page-box">{{page.name}}</div>
            </template>
            <template is="dom-if" if="{{decodeName(item.id)}}">
                <div class="page-box left-box" on-click="goUp"><paper-ripple recenters></paper-ripple>{{page.name}}</div>
                <div class="page-box right-box">{{decodeName(item.id)}}</div>
            </template>
        </div>

        <project-form id="dialog" user-id="{{userId}}"></project-form>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'user-bar',
        properties: {
            userId: {
                type: String,
                value: '0'
            },
            ovc: Number,
            login: String,
            admin: Number,
            route: {
                type: Object,
                notify: true
            }
        },
        listeners: {
            'form-button.tap': 'showForm',
            'logo.tap': 'goHome',
            'logout.tap': 'logout',
            'admin-panel.tap': 'goAdmin'
        },
        showForm: function(e) {
            this.querySelector('#dialog').toggle();
        },
        goHome: function(e) {
            this.set('page.name', 'projects');
        },
        goAdmin: function(e) {
            this.set('page.name', 'admin-panel');
        },
        logout: function(e) {
            window.location.replace("/logout");
        },
        decodeName: function(name) {
            return decodeURIComponent(name);
        },
        goUp: function() {
            this.set('page.name', this.page.name+'s');
        },
        search: function(evt) {
            var phrase = this.$.searchInput.value;
            var projectList = document.querySelector('projects-list');
            if(phrase.length !== 0) {
                projectList.hideBest(true);
            } else {
                projectList.hideBest(false);
            }
            projectList.searchPhrase(phrase);
        },
        clearInput: function() {
            this.$.searchInput.value = '';
            this.search();
        }
    });
</script>