<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="configuration-constants.html">
<link rel="import" href="../routing/page-routing.html">

<dom-module id="admin-panel">
    <template>
        <style is="custom-style">
            paper-card {
                margin-top: 5px;
                width: 100%;
                font-family: 'Open Sans', sans-serif;
            }

            paper-icon-button.cross-icon:hover {
                color: #0fb611;
            }

            .check-icon {
                --iron-icon-fill-color: #0fb611;
            }

            .arrow-icon {
                width: 30px;
                height: 30px;
            }

            #header {
                --paper-card-background-color: #dff0d8;
                font-weight: bold;
            }

            .card-content {
                display: flex;
                align-items: center;
            }

            .wide-col {
                width: 40%;
            }

            .narrow-col {
                width: 10%;
                text-align: center;
                display: flex;
                align-items: center;
            }
        </style>

        <configuration-constants name="admin" value="{{url}}"></configuration-constants>
        <page-routing route="{{route}}" page="{{page}}"></page-routing>

        <iron-ajax
                id="ajax"
                url="{{url}}"
                method="POST"
                handle-as="json">
        </iron-ajax>

        <iron-ajax
                id="user"
                url="{{url}}"
                handle-as="json"
                last-response="{{users}}">
        </iron-ajax>

        <paper-dialog id="add-dialog">
            <h2>How much do you want to give?</h2>
            <div><paper-input id="add-input" type="number"></paper-input></div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-click="addMoney" dialog-confirm>Accept</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="substract-dialog">
            <h2>How much do you want to take away?</h2>
            <div><paper-input id="substract-input" type="number"></paper-input></div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-click="substractMoney" dialog-confirm>Accept</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog id="admin-dialog">
            <h2>Are you sure?</h2>
            <div>Do you really want to make this user an admin?</div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button on-click="confirmAdmin" dialog-confirm>Accept</paper-button>
            </div>
        </paper-dialog>

        <paper-card id="header">
            <div class="card-content">
                <div class="wide-col">
                    Name
                </div>
                <div class="wide-col">
                    Google ID
                </div>
                <div class="narrow-col">
                    OVC
                </div>
                <div class="narrow-col">
                    Admin
                </div>
            </div>
        </paper-card>
        <template is="dom-repeat" items="{{users}}" as="user">
            <paper-card>
                <div class="card-content">
                    <div class="wide-col">
                        {{user.name}}
                    </div>
                    <div class="wide-col">
                        {{user.google_id}}
                    </div>
                    <div class="narrow-col">
                        {{user.money}}
                        <div>
                            <paper-icon-button class="arrow-icon" icon="hardware:keyboard-arrow-up"
                                               on-tap="add" data-args$="{{user.google_id}}"></paper-icon-button><br>
                            <paper-icon-button class="arrow-icon" icon="hardware:keyboard-arrow-down"
                                               on-click="substract" data-args$="{{user.google_id}}"></paper-icon-button>
                        </div>
                    </div>
                    <div class="narrow-col">
                        <template is="dom-if" if="{{user.admin}}">
                            <paper-icon-button class="check-icon" icon="icons:check" noink disabled></paper-icon-button>
                        </template>
                        <template is="dom-if" if="{{!user.admin}}">
                            <paper-icon-button class="cross-icon" icon="icons:close" noink
                                               on-click="makeAdmin" data-args$="{{user.google_id}}"></paper-icon-button>
                        </template>
                    </div>
                </div>
            </paper-card>
        </template>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'admin-panel',
        properties: {
            route: Object
        },
        observers: ['_pathChanged(route.path)'],
        _pathChanged: function() {
            if(this.page && this.page.name == "admin-panel") {
                console.log('hello');
                this.$.user.generateRequest();
            }
        },
        add: function(e) {
            var id = (e.target.dataset.args == undefined ? id = e.target.parentNode.dataset.args : e.target.dataset.args);
            this.$.ajax.params = {
                "userId": id,
                "function": "add",
                "amount": 0
            };
            this.$$("#add-dialog").toggle();
        },
        addMoney: function() {
            this.$.ajax.params.amount = this.$$("#add-input").value;
            this.$.ajax.generateRequest();
            this.async(function() {
                this.$.user.generateRequest();
                document.querySelector('#userUpdater').refreshUser();
            }, 200);
        },
        substract: function(e) {
            var id = (e.target.dataset.args == undefined ? id = e.target.parentNode.dataset.args : e.target.dataset.args);
            this.$.ajax.params = {
                "userId": id,
                "function": "substract",
                "amount": 0
            };
            this.$$("#substract-dialog").toggle();
        },
        substractMoney: function() {
            this.$.ajax.params.amount = this.$$("#substract-input").value;
            this.$.ajax.generateRequest();
            this.async(function() {
                this.$.user.generateRequest();
                document.querySelector('#userUpdater').refreshUser();
            }, 200);
        },
        makeAdmin: function(e) {
            var id = (e.target.dataset.args == undefined ? id = e.target.parentNode.dataset.args : e.target.dataset.args);
            this.$.ajax.params = {
                "userId": id,
                "function": "make_admin"
            };
            this.$$("#admin-dialog").toggle();
        },
        confirmAdmin: function() {
            this.$.ajax.generateRequest();
            this.async(function() {
                this.$.user.generateRequest();
            }, 200);
        }
    });
</script>