<dom-module id="configuration-constants"></dom-module>
<script>
    Polymer({
        is: 'configuration-constants',
        properties: {
            name: {
                type: String,
                value: ''
            },
            value: {
                type: Object,
                notify: true
            }
        },
        ready: function() {
            var test_constants = {
                user: 'http://localhost:3000/user',
                project: 'https://kickstarter-dev.appspot.com/api/projects',
                transaction: 'http://localhost:3000/transaction',
                admin: 'http://localhost:3000/admin',
                images: '/frontend/images/',
                attachment: 'https://kickstarter-dev.appspot.com/api/file_download?blob_key='
            };
            var constants = {
                user: 'https://kickstarter-dev.appspot.com/api/user',
                project: 'https://kickstarter-dev.appspot.com/api/projects',
                transaction: 'https://kickstarter-dev.appspot.com/api/transaction',
                admin: 'https://kickstarter-dev.appspot.com/api/admin',
                images: '/images/',
                attachment: 'https://kickstarter-dev.appspot.com/api/file_download?blob_key='
            };
            this.value = constants[this.name];
        }
    });
</script>