<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="donation-button.html">


<dom-module id="project-details">
    <template>
        <style is="custom-style">
            paper-card {
                width: 100%;
                margin: 10px 0;
            }

            .description {
                height: 67%;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: 10px;
                border-top: 1px #dddddd solid;
            }

            .title {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                text-shadow: 0px 1px green;
                font-size: 25px;
                color: limegreen;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .subtitle paper-button {
                border: 1px solid transparent;
                padding: 0;
                color: black;
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
            }

            .subtitle paper-button:hover {
                border: 1px solid limegreen;
            }

            #more-info {
                padding-top: 3px;
                font-family: 'Open Sans', cursive;
                font-weight: bold;
                color: gray;
            }

            #more-info span {
                color: black;
            }

            p {
                white-space: pre-wrap;
                font-family: 'Open Sans', sans-serif;
            }
        </style>

        <iron-ajax
            id="userAjax"
            url="https://kickstarter-dev.appspot.com/user"
            handle-as="json"
            on-response="updateMoney"
            last-response="{{user}}">
        </iron-ajax>

        <iron-ajax
                id="detailsAjax"
                url="https://kickstarter-dev.appspot.com/projects"
                handle-as="json"
                on-response="handleResponse"
                last-response="{{project}}">
        </iron-ajax>

        <paper-card>
            <div class="card-content title-bar">
                <div class="title"><span class="{{project.name}}">{{project.name}}</span></div>
                <div id="more-info">
                    <div class="datetime"><span>{{project.date}}</span> <span>{{project.time}}</span></div>
                    <div class="subtitle">by<paper-button>{{project.creatorname}}</paper-button></div>
                    <div class="dotation">collected <span>{{project.money}}</span> OVC!</div>
                </div>
            </div>
            <div class="card-content description">
                <p>{{project.description}}</p>
            </div>
            <div class="card-actions">
                <donation-button user-id="{{userId}}" ovc="{{ovc}}">
                    <paper-button>Support</paper-button>
                </donation-button>
            </div>
        </paper-card>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'project-details',
        properties: {
            userId: {
                type: Number,
                value: 0
            },
            ovc: Number
        },
        handleResponse: function(request) {
            document.querySelector("#app").route='project';
        }
    });
</script>