<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="donation-button.html">
<link rel="import" href="configuration-constants.html">
<link rel="import" href="page-routing.html">


<dom-module id="projects-list">
    <template>
        <style>
            .panel-body {
                height: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 10px;
            }

            .panel {
                margin-top: 10px;
            }

            .panel-footer {
                background-color: #dff0d8;
                border-color: #d6e9c6
            }

            .description {
                padding-bottom: 10px;
                padding-top: 10px;
                border-top: 1px #dddddd solid;
            }

            .title {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 25px;
                color: #59af5a;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #more-info {
                padding-bottom: 10px;
                font-family: 'Open Sans', cursive;
                color: gray;
            }

            #more-info span {
                color: black;
            }

            p {
                white-space: pre-wrap;
                font-family: 'Open Sans', sans-serif;
            }

            iron-icon {
                height: 18px;
            }

            iron-icon:hover {
                color: var(--google-green-500);
            }

            paper-button span.green-hover:hover {
                color: #3c763d !important;
            }

            .col-xs-6 {
                padding-left: 8px;
                padding-right: 8px;
            }
        </style>
        <configuration-constants name="project" value="{{url}}"></configuration-constants>
        <page-routing route="{{route}}"></page-routing>

        <iron-ajax
                id="list-ajax"
                auto
                url="{{url}}"
                handle-as="json"
                last-response="{{ajaxResponse}}">
        </iron-ajax>

        <div class="container-fluid">
            <template is="dom-repeat" items="{{ajaxResponse}}" sort="_sort">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="title text-center">
                                <span class="{{item.name}}" on-click="showDetails">{{item.name}}</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 text-right" id="more-info">
                                    Created on:
                                    <br>
                                    OVC collected:
                                    <br>
                                    Created by:
                                </div>
                                <div class="col-xs-6">
                                    <b>
                                    {{item.date}}
                                    <br>
                                    {{item.money}}
                                    <br>
                                    {{stripOcado(item.creatorname)}}
                                    </b>
                                </div>
                            </div>
                            <div class="description">
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <paper-button class="{{item.name}}" on-click="showDetails" >
                                        <span class="custom green-hover">
                                            <span class="{{item.name}}">See More</span><iron-icon class="{{item.name}}" icon="icons:chevron-right"></iron-icon>
                                        </span>
                                    </paper-button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <donation-button user-id="{{userId}}" ovc="{{ovc}}" project-id="{{item.id}}">
                                        <paper-button>
                                            <span class="custom green-hover">
                                                <iron-icon icon="icons:favorite-border"></iron-icon>Support
                                            </span>
                                        </paper-button>
                                    </donation-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'projects-list',
        properties: {
            userId: {
                type: String,
                value: '0'
            },
            ovc: Number
        },
        showDetails: function(e) {
            var id = encodeURIComponent(e.target.class);
            this.set("route.path", '/load/'+id);
            document.querySelector('#detailsAjax').params.name = e.target.class;
            document.querySelector('#detailsAjax').generateRequest();
        },
        _sort: function(a, b) {
            if (a.date === b.date) {
                if(a.time === b.time) return 0;
                return a.time < b.time ? 1 : -1;
            }
            return a.date < b.date ? 1 : -1;
        },
        stripOcado: function(name) {
            return name.replace('@ocado.com', '');
        }
    });
</script>