<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-styles.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/marked-element/marked-element.html">
<link rel="import" href="components/donation-button.html">
<link rel="import" href="configuration-constants.html">
<link rel="import" href="../routing/page-routing.html">


<dom-module id="project-details">
    <template>
        <style is="custom-style">
            .panel {
                margin-top: 10px;
            }

            .panel-footer {
                background-color: #dff0d8;
                border-color: #d6e9c6
            }

            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                padding-bottom: 10px;
                padding-top: 10px;
                border-top: 1px #dddddd solid;
            }

            .title {
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 25px;
                color: #59af5a;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            #more-info {
                padding-bottom: 10px !important;
                font-family: 'Open Sans', cursive;
                color: gray;
            }

            p {
                white-space: pre-wrap;
                font-family: 'Open Sans', sans-serif;
            }

            iron-icon {
                height: 18px;
            }

            iron-icon:hover {
                color: var(--google-green-500);
            }

            paper-button span.green-hover:hover {
                color: #3c763d !important;
            }

            paper-spinner-lite {
                --paper-spinner-color: var(--google-green-500);
            }

            .mini {
                max-height: 100px;
                cursor: pointer;
            }

            #preview {
                max-width: 90vw;
                max-height: 80vh;
            }

        </style>

        <configuration-constants name="project" value="{{url}}"></configuration-constants>
        <page-routing route="{{route}}" page="{{page}}" item="{{item}}"></page-routing>

        <iron-ajax
                id="detailsAjax"
                url="{{url}}"
                handle-as="json"
                on-response="handleResponse"
                last-response="{{project}}"
                debounce-duration="3000">
        </iron-ajax>

        <template is="dom-if" if="{{loading}}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="title text-center">
                        Loading...
                    </div>
                </div>
                <div class="panel-body text-center">
                    <paper-spinner-lite alt="Loading project details" active></paper-spinner-lite>
                </div>
            </div>
        </template>

        <template is="dom-if" if="{{!loading}}">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="title text-center">
                        {{project.name}}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 text-right" id="more-info">
                            Created on:
                            <br>
                            Created at:
                            <br>
                            OVC collected:
                            <br>
                            Created by:
                        </div>
                        <div class="col-xs-6">
                            <b>
                                {{project.date}}
                                <br>
                                {{project.time}}
                                <br>
                                {{project.money}}
                                <br>
                                {{stripOcado(project.creatorname)}}
                            </b>
                        </div>
                    </div>
                    <div class="card-content description">
                        <marked-element markdown="{{project.description}}">
                            <div class="markdown-html"></div>
                        </marked-element>
                        <template is="dom-repeat" items="{{serializeUrls(project.attachments)}}" as="image">
                            <img src$="{{image.url}}" on-click="showImage" data-img$="{{image.url}}" class="mini" />
                        </template>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-sm-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"  style$="width: {{project.money}}%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <template is="dom-if" if="{{!isExpired(project.status)}}">
                        <template is="dom-if" if="{{owned}}">
                            <paper-button on-click="edit">
                                <span class="custom green-hover">
                                    <iron-icon icon="editor:mode-edit"></iron-icon>Edit
                                </span>
                            </paper-button>
                        </template>
                        <template is="dom-if" if="{{!owned}}">
                            <donation-button user-id="{{userId}}" project-id="{{project.id}}">
                                <paper-button>
                                        <span class="custom green-hover">
                                            <iron-icon icon="icons:favorite-border"></iron-icon>Support
                                        </span>
                                </paper-button>
                            </donation-button>
                        </template>
                    </template>
                    <template is="dom-if" if="{{isExpired(project.status)}}">
                        <paper-button noink>
                            <span class="custom green-hover">
                                <iron-icon icon="social:mood-bad"></iron-icon>Expired
                            </span>
                        </paper-button>
                    </template>
                </div>
            </div>
        </template>

        <paper-dialog id="imageView">
            <img id="preview" />
        </paper-dialog>

        <project-form project-id="{{project.id}}" id="editForm" user-id="{{userId}}"
                      name="{{project.name}}" desc="{{project.description}}" attachment-ids="{{getIds(project.attachments)}}"></project-form>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'project-details',
        properties: {
            userId: {
                type: String,
                value: '0'
            },
            ovc: Number,
            loading: {
                type: Boolean,
                value: true,
                notify: true
            },
            route: Object,
            owned: {
                type: Boolean,
                computed: 'isOwned(project, userId)'
            }
        },
        observers: ['_pathChanged(route.path)'],
        _pathChanged: function() {
            if(this.page && this.page.name == "project") {
                document.querySelector('#mainContainer').scrollTop = 0;
                this.set("loading", true);
                this.$.detailsAjax.url =  this.url + "/" + this.item.id;
                this.$.detailsAjax.generateRequest();
            }
        },
        showImage: function(item) {
            this.$.preview.src = item.target.dataset.img;
            this.$.imageView.toggle();
        },
        edit: function() {
            this.$.editForm.toggle();
        },
        handleResponse: function(request) {
            this.set("loading", false);
        },
        stripOcado: function(name) {
            return name.replace('@ocado.com', '');
        },
        isExpired: function(status) {
            return status == 2;
        },
        isOwned: function(project, userId) {
            return project.creatoryid == userId;
        },
        sadToggle: function() {
            this.$$('#sad-dialog').toggle();
        },
        serializeUrls: function(strings) {
            if(strings != "") {
                var urlObjects = [];
                strings = eval(strings);
                for(var i = 0; i < strings.length; i++) {
                    var o = new Object();
                    o.url = strings[i];
                    urlObjects.push(o);
                }
                return urlObjects;
            }
            return strings;
        },
        getIds: function(urls) {
            if(urls != "") {
                var ids = [];
                urls = eval(urls);
                for(var i = 0; i < urls.length; i++) {
                    var id = urls[i].substr(urls[i].indexOf("=") + 1);
                    ids.push(id);
                }
                return ids;
            }
            return [];
        }
    });
</script>