<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-styles.html">
<link rel="import" href="components/project-card.html">
<link rel="import" href="configuration-constants.html">


<dom-module id="projects-list">
    <template>
        <style is="custom-style">

            paper-spinner-lite {
                margin-top: 20px;
                --paper-spinner-color: var(--google-green-500);
            }

        </style>

        <configuration-constants name="project" value="{{url}}"></configuration-constants>

        <iron-ajax
                id="list-ajax"
                auto
                url="{{url}}"
                handle-as="json"
                last-response="{{ajaxResponse}}"
                debounce-duration="3000"
                loading="{{loading}}">
        </iron-ajax>
         <iron-ajax
                id="best-list-ajax"
                auto
                params = '{"function": "best", "pageSize": "3"}'
                url="{{url}}"
                handle-as="json"
                last-response="{{bestResponse}}">
        </iron-ajax>


        <template is="dom-if" if="{{loading}}">
            <div class="text-center">
                <paper-spinner-lite alt="Loading project details" active></paper-spinner-lite>
            </div>
        </template>

        <div class="container-fluid">
            <template is="dom-repeat" items="{{bestResponse}}" sort="_sort">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <project-card user-id="{{userId}}" ovc="{{ovc}}" project="{{item}}" marked></project-card>
                </div>
            </template>
            <template is="dom-repeat" items="{{ajaxResponse}}" sort="_sort">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <project-card user-id="{{userId}}" ovc="{{ovc}}" project="{{item}}"></project-card>
                </div>
            </template>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'projects-list',
        properties: {
            userId: {
                type: String,
                value: '0'
            },
            ovc: Number
        },
        _sort: function(a, b) {
            if(a.status != b.status){
                if(a.status == 2)
                    return 1;
                if(b.status == 2)
                    return -1;
            }
            if (a.date === b.date) {
                if(a.time === b.time) return 0;
                return a.time < b.time ? 1 : -1;
            }
            return a.date < b.date ? 1 : -1;
        }
    });
</script>