<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/iron-page-url/iron-page-url.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="configuration-constants.html">


<dom-module id="user-bar">
    <template>
        <style>
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f6fcf6;
                padding: 0 20px;
            }
            #dialog {
                width: 70%;
            }
            #user-info span{
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 25px;
            }
            #coins-frame {
                border: 1px solid #afafaf;
                border-radius: 20px;
                padding: 0 5px 5px;
                font-weight: bolder;
                display: inline;
            }
            #logo {
                display: inline;
            }
            #logo img {
                height: 40px;
                margin: 10px 0;
            }
            #bread {
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                font-size: 18px;
                color: black;
            }
        </style>

        <configuration-constants name="project" value="{{url}}"></configuration-constants>
        <configuration-constants name="images" value="{{img}}"></configuration-constants>

        <iron-ajax
                id="ajax"
                url="{{url}}"
                method="POST"
                on-response="handleResponse"
                handle-as="json">
        </iron-ajax>

        <iron-page-url path="{{path}}"></iron-page-url>
        <div class="header">
            <div>
                <paper-menu-button vertical-align="down">
                    <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
                    <paper-menu class="dropdown-content">
                        <paper-item id="form-button">New Project</paper-item>
                        <paper-item id="logout">Logout</paper-item>
                    </paper-menu>
                </paper-menu-button>
                <div id="logo">
                    <img src$="{{img}}/kicklogo.png"
                         onmouseover$="this.src = '{{img}}/kicklogohover.png'"
                         onmouseout$="this.src = '{{img}}/kicklogo.png'"/>
                </div>
                <span id="bread">{{path}}</span>
            </div>
            <div id="user-info">
                <span>{{login}} <div id="coins-frame"><img src$="{{img}}/ovc.png" height="30px"/> {{ovc}}</div></span>
            </div>
        </div>
        <paper-dialog id="dialog" modal>
            <h2>Create new project</h2>
            <div>
                <paper-input label="Project name" char-counter maxlength="256" bind-value="{{name}}"></paper-input>
                <paper-textarea label="Description" char-counter max-rows="8" bind-value="{{desc}}"></paper-textarea>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus id="add-button">Add</paper-button>
            </div>
        </paper-dialog>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'user-bar',
        properties: {
            name: String,
            desc: String,
            login: String,
            userId: {
                type: Number,
                value: 0
            },
            ovc: {
                type: Number,
                value: 0,
                notify: true
            }
        },
        listeners: {
            'form-button.tap': 'showForm',
            'add-button.tap': 'addProject',
            'logo.tap': 'goHome',
            'logout.tap': 'logout'
        },
        showForm: function(e) {
            this.querySelector('#dialog').toggle();
        },
        addProject: function(e) {
            this.$.ajax.params = {
                "name": this.name,
                "desc": this.desc,
                "creatorId": this.userId
            };
            this.$.ajax.generateRequest();
        },
        goHome: function(e) {
            page('/');
        },
        logout: function(e) {
            window.location.replace("/logout");
        },
        handleResponse: function(request) {
            document.querySelector("#list-ajax").generateRequest();
        }
    });
</script>